h1 Post Users

form(method='POST' action='/api/users')
	label ID:
	input(type='number', placeholder='ID' name='id')
	label Name:
	input(type='text', placeholder='Name' name='name')
	label Age:
	input(type='number', placeholder='Age' name='age')
	button(type='submit') Post